<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/label_template.css' />
    <link rel='stylesheet' href='/stylesheets/mdi/css/materialdesignicons.css' />
  
    <!-- CSS for Styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  
    <!-- JavaScript for Interactivity -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
  
  </head>
  <body class="header-fixed">

    <!-- Main Content -->
  	<div class="page-body">

      <!-- nav bar -->
      <% include partials/nav.ejs %>
      <!-- End of Navbar -->

      <!-- side bar -->
      <% include partials/sidebar.ejs %>
      <!-- End of Sidebar -->

      <!-- Right Box -->
      <div class="page-content-wrapper">
        <!-- Content -->
        <div class="page-content-wrapper-inner">
          <div class="content-viewport">
            <div class="row">
              <div class="col-12 py-5">
                <h4>Trash Bin Monitor</h4>
                <!--<p class="text-gray">Welcome aboard, User</p>-->
              </div>
            </div>
            <!-- put your stuff here -->
            <p>Live monitoring of data from the sensors</p>
            <table id="monitorTable" class="table">
              <thead class="table-info">
                <tr>
                  <th scope="col">Topic</th>
                  <th scope="col">Distance</th>
                  <th scope="col">Date Time</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i<data.length; i++) { %>
                <tr>
                  <td><%= data[i].topic_id%></td>
                  <td><%= data[i].distance%></td>
                  <td><%= data[i].formatted_dt%></td>
                </tr>
                <% } %>
              </tbody>
            </table>
        </div>
        <!-- End of Content -->

        <!-- Footer -->
        <% include partials/footer.ejs %>
        <!-- End of Footer -->
      </div>
      <!-- End of Right Box -->

    </div>
    <!-- End of Main Content -->

    <!-- Additional Javascript -->
    <script src="/javascripts/label_template.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      /*var socket = io.connect('http://127.0.0.1:3000', {transports: ['websocket']});*/
      const socket = io({ transports: ['websocket' ]});

      // Get table
      var tableBody = document.getElementById("monitorTable").getElementsByTagName('tbody')[0];

      socket.on('disconnect', (reason) => {
        if (reason === 'transport close') {
          // the disconnection was initiated by the server, you need to reconnect manually
          console.log("Web Server is down! Please refresh or wait for the server to be up");
          socket.disconnect();
        }
      });

      // listening for live data
      socket.on("new_monitor_data", function(obj) {
        socket.io.opts.transports = ['polling', 'websocket'];

        // get javascript object from string
        var data = JSON.parse(obj.data);
        // Create an empty <tr> element and add it to the 1st position of the table
        var row = tableBody.insertRow(0); 
        // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
        var cell1 = row.insertCell(0); 
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        // Add some text to the new cells:
        cell1.innerHTML = data.topic_id;
        cell2.innerHTML = data.distance;
        cell3.innerHTML = moment(data.dt).format('ddd, DD MMM YYYY HH:mm:ss');

      });
    </script>
  </body>
</html>
