<div class="sidebar">
  <ul class="navigation-menu">
    <li class="nav-title">IOT TrashBin Manager</li>
    <li class="nav-category-divider">Main Menu</li>
    <li>
      <a href="/">
        <span class="link-title">Overview</span>
        <i class="mdi mdi-clipboard-text link-icon"></i>
      </a>
    </li>
    <li>
      <a href="/monitor">
        <span class="link-title">Monitor</span>
        <i class="mdi mdi-signal-variant link-icon"></i>
      </a>
    </li>
    <li>
      <a href="/nearbyApp">
        <span class="link-title">Nearby</span>
        <i class="mdi mdi-crosshairs-gps link-icon"></i>
      </a>
    </li>
  </ul>
</div>